<%- include('./partials/header') %>
  <body>
    <h1>Enter new book information here, please.</h1>
    <form action="addbook" method="POST">
        <label for="title">Book Title:</label>
        <input type="text" id="title" name="title"><br>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author"><br>
        <input type="submit" value="Submit">
    </form>
  </body>
</html>