<%- include('./partials/header') %>
  <body>
    <ul>
      <% books.forEach((book) => { %>
        <h2><%= book.title %></h2>
        <p><%= book.author %></p>
      <% }) %>
    </ul>
  </body>
</html>
