<%- include('./partials/header') %>
  
<body>
    <script>
      function showPopup(element) {
          const popup = element.querySelector(".popup");
          popup.style.display = "block";
      }

      function hidePopup(element) {
          const popup = element.querySelector(".popup");
          popup.style.display = "none";
      }
  </script>

    <ul>
      <% books.forEach((book) => { %>
        <h2><%= book.title %></h2>
        <div class="hover-box" onmouseover="showPopup(this)" onmouseleave="hidePopup(this)">
          <p><%= book.author %></p>
          <div class="popup">This is a JS popup box!</div>
        </div>
      <% }) %>
    </ul>
  </body>
</html>
